*.sqlite
*.sqlite3
.env
.env.*
!.env.example
node_modules/
vendor/
storage/*.key
storage/pail
.phpunit.result.cache
.phpactor.json
bootstrap/ssr/
public/build/
public/hot
resources/js/actions/
resources/js/routes/
resources/js/wayfinder/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
.fleet/
.idea/
.nova/
.vscode/
.zed/
.DS_Store